.socials {
    padding-left:2rem;
    display: none;
    gap: 24px;
    align-items: center;
    flex-direction: column;
    width: 0;
    position: absolute fixed;
    position: fixed;
    bottom:0;
  }
  .duration-200{
    transition-duration: .4s;
  }
  
  .socials::after {
    content:'';
    display: block;
    width: 2.5px;
    height: 25em;
    background-color: #475569;
    margin-top: 1em;
  }
  
  @media (min-width: 750px) {
    .socials {
      display: flex;
      margin-left:4rem;
    }
  }
  
  .sides{
    font-size: 3em;
   
  }
  .sides:hover{
    transform: scale(1.2);
  }