.socials {
    padding:2rem;
    display: none;
    gap: 24px;
    align-items: center;
    flex-direction: column;
    width: 0;
    position: absolute;
    top: 200px;
  }
  
  .socials::after {
    content:'';
    display: block;
    width: 1.5px;
    height: 150px;
    background-color: #475569;
    margin-top: 56px;
  }
  
  @media (min-width: 750px) {
    .socials {
      display: flex;
      margin:4rem;
    }
  }
  
  .sides{
    font-size: 2.2rem;
   
  }
  .sides:hover{
    transform: scale(1.2);
  }